[Unit]
Description=Keycard Service: Force ACL sync from Wild Apricot
After=network-online.target
Wants=network-online.target

[Service]
OnFailure=keycard-alert-handler@%n.service
Type=oneshot
User=keycard
Group=keycard
WorkingDirectory=/opt/keycard-service
ExecStart=/opt/keycard-service/scripts/acl-sync --force
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
