[Unit]
Description=Keycard Service: Pull events from door controllers (hourly)

[Timer]
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target
