[Unit]
Description=Keycard Service: Sync controller clocks
After=network-online.target
Wants=network-online.target

[Service]
OnFailure=keycard-alert-handler@%n.service
Type=oneshot
User=keycard
Group=keycard
WorkingDirectory=/opt/keycard-service
ExecStart=/opt/keycard-service/scripts/clock-sync
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
